:root {
  --bs-success-rgb: rgb(0, 77, 0);
}

.bg-green {
  background-color: var(--bs-success-rgb);
}

.bg-ivory {
  background-color: #FFFFF0;
}

.text-green {
  color: #004D00 !important;
}
.text-ivory{
  color:#FFFFF0;
}
.btn-success {
  --bs-btn-color: #FFFFF0;
  --bs-btn-bg: var(--bs-success-rgb);
  --bs-btn-border-color: var(--bs-success-rgb);
  --bs-btn-hover-color: var(--bs-success-rgb);
  --bs-btn-hover-bg: #FFFFF0;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-success-rgb);
  --bs-btn-disabled-border-color: var(--bs-success-rgb);
}
.btn-outline-success{
  --bs-btn-color: var(--bs-success-rgb);
  --bs-btn-bg: #FFFFF0;
  --bs-btn-border-color: #FFFFF0;
  --bs-btn-hover-color: #FFFFF0;
  --bs-btn-hover-bg: var(--bs-success-rgb);
  --bs-btn-hover-border-color: #fffff0;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FFFFF0;
  --bs-btn-disabled-border-color: #FFFFF0;
}
.dropdown-menu {
  --bs-dropdown-color: #fffff0;
  --bs-dropdown-bg: var(--bs-success-rgb);
  --bs-dropdown-link-active-color: #167026;
  --bs-dropdown-link-active-bg: #dadcdf;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: var(--bs-success-rgb) !important;
}
.slick-prev:before, .slick-next:before {
  color: var(--bs-success-rgb) !important;
}
.form-control,.form-check-input{
  border-width: .124rem;
  border-color: #004D00 !important;
  background-color: #FFFFF0;
}


.form-check-input:checked {
  background-color: #004D00;
  border-color: #004D00;
}
.img-thumbnail {
  padding: .25rem;
  background-color: #FFFFF0;
  /* border: 2px solid #004D00; */
  border-radius: var(--bs-border-radius);
  max-width: 100%;
  height: auto;
}
.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  }
  
  .div1 { grid-area: 1 / 1 / 3 / 3; }
  .div2 { grid-area: 2 / 3 / 3 / 4; }
  .div3 { grid-area: 1 / 3 / 2 / 4; }
  .div4 { grid-area: 1 / 4 / 3 / 6; }
  .div5 { grid-area: 1 / 6 / 2 / 7; }
  .div6 { grid-area: 2 / 6 / 3 / 7; }
  .div7 { grid-area: 3 / 1 / 5 / 3; }
  .div8 { grid-area: 3 / 3 / 5 / 5; }
  .div9 { grid-area: 3 / 5 / 5 / 7; }